<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delycomps.entregasya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- To request foreground location access, declare one of these permissions. -->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoya"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoya"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ConnectActivity"></activity>
        <activity
            android:name=".ManageOrderActivity"
            android:label="@string/title_activity_manage_order" />
        <activity
            android:name=".OrderPendingActivity"
            android:label="Ordenes pendientes" />
        <activity android:name=".DetailOrderActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.delycomps.entregasyadriversharing.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewOrderActivity"
            android:label="@string/new_order" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".InitialActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <receiver
            android:name=".LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.delycomps.entregasya.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
    </application>

</manifest>